<header class="encabezado">
    <section class="section-logo-searchbar">
        <div class="logo"><img src="/img/logo-mercado-liebre.svg" alt=""></div>
        <section class="section-header">
            <form action="search" method="post" >
                <label for="search"></label>
                <input type="text" id="search" placeholder="buscar productos...">
                <div class="i-header"><i class="fa-solid fa-magnifying-glass"></i></div>
            </form>
          
        </section>
        <div class="divconh4">
            <h4 class="center"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito
            </h4>
        </div>

    </section>

    <section class="sectionconnavs">
        <nav class="nav-header">
            <ul>
                <li><a href="#">ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="nav-header">
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-file-invoice"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-regular fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars azul"></i>
        </div>
    </section>

</header>
